@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer utilities {
  .bg-gradient-radial {
    background: linear-gradient(
      to right,
      transparent 10%,
      rgba(255, 255, 255, 0.6) 50%,
      transparent 90%
    );
  }
  .bg-gradient-layer {
    background: linear-gradient(
      to right,

      rgba(0, 0, 0, 0.4),
      transparent,
      rgba(0, 0, 0, 0.4)
    );
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
